@model SIT.Models.DefectosCalidad

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DefectosCalidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdgrupoRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdgrupoRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdComponente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdComponente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDefecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDefecto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
