@model SIT.Models.TrProduccion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrProduccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTiempoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTiempoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTiempoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTiempoFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdComponenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdComponenteNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoRecursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoRecursoNavigation.Grupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOperacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOperacionNavigation.Operacion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Producto1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecursoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrMovimientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrMovimientoNavigation.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
