@model SIT.Models.Componente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Componente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Componente1)*@
            Componente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Componente1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilogramos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilogramos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.IdCategoriaNavigation)*@
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.IdProductoNavigation)*@
            Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Producto1)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.StatusNavigation)*@
            Estatus
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNavigation.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
