@model SIT.Models.TrParada

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrParada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTiempoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTiempoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTiempoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTiempoFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retroactiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retroactiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrMovimientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrMovimientoNavigation.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMotivoParadaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMotivoParadaNavigation.MotivoDeParada1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetalleDeParadaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetalleDeParadaNavigation.DetalleDeParada1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
