@model SIT.Models.Lectura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lectura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoBarra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoBarra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialDispositivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialDispositivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraLector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraLector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecursoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoRecursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoRecursoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActividadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActividadNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSectorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSectorNavigation.Sector1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPuntoDeControlNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPuntoDeControlNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
