@model SIT.Models.FileUpload

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Crear Nuevo</h1>
@using (Html.BeginForm("Create", "Recursoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Recurso</h4>
    <hr />
    <div class="flex">
        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-6">

                    <label asp-for="Nombre" class="control-label">Nombre:</label>
                    <input asp-for="Nombre" class="form-control" />

                </div>
                <div class="col-6">
                    <label class="control-label" style="font-size:larger; font-style:oblique;color:black">Sucursal:</label>
                    <select id="IdSucursal" class="form-control" onchange="FillArea()" asp-items="ViewBag.IdSucursal"></select>
                </div>
                <div class="col-md-2">
                    <label>Area</label>

                    @Html.DropDownList("IdArea",
                                                                               new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Area1"),
                                                                                      "Seleccione Area",
                                                                                      new { @class = "form-control", @onchange = "FillSector()", id = "IdArea" })


                </div>

                <div class="col-md-2">
                    <label>Sector</label>

                    @Html.DropDownList("IdSector",
                                                                               new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Sector1"),
                                                                                      "Seleccione Sector",
                                                                                      new { @class = "form-control", @onchange = "FillGrupoRecursos()", id = "IdSector" })


                </div>
                @*<div class="col-6">

            <label asp-for="IdSector" class="control-label">Sector:</label>
            <select asp-for="IdSector" class="form-control" onchange="FillGrupoRecursos()" asp-items="ViewBag.IdSector"></select>

        </div>*@
                @*<div class="col-6">
            <label asp-for="IdGrupoRecursoPrincipal" class="control-label">Grupo Recurso:</label>
            <select asp-for="IdGrupoRecursoPrincipal" class="form-control" asp-items="ViewBag.IdGrupoRecursoPrincipal"></select>
        </div>*@
                <div class="col-md-2">
                    @Html.LabelFor(m => m.IdGrupoRecursoPrincipal)

                    @Html.DropDownListFor(m => m.IdGrupoRecursoPrincipal,
                                                           new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Grupo"),
                                                                  "Seleccione Grupo",
                                                                  new { @class = "form-control", @onchange = "FillActividad()" })
                    @Html.ValidationMessageFor(m => m.IdGrupoRecursoPrincipal, "", new { @class = "text-danger" })

                </div>


                <div class="col-6">
                    <label asp-for="FechaNacimiento" class="control-label">Fecha Nacimiento:</label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>

                </div>
                <div class="col-6">
                    <label asp-for="IdUnidadMedida" class="control-label">UM:</label>
                    <select asp-for="IdUnidadMedida" class="form-control" asp-items="ViewBag.IdUnidadMedida"></select>

                </div>
                <div class="col-6">
                    <label asp-for="ProductividadDeseada" class="control-label">ER:</label>
                    <input asp-for="ProductividadDeseada" class="form-control" />
                    <span asp-validation-for="ProductividadDeseada" class="text-danger"></span>

                </div>

                <div class="col-6">
                    <label asp-for="Costo" class="control-label">Costo:</label>
                    <input asp-for="Costo" class="form-control" />
                    <span asp-validation-for="Costo" class="text-danger"></span>

                </div>
                <div class="col-6">
                    <label asp-for="CodigoBarra" class="control-label">Codigo Barra:</label>
                    <input asp-for="CodigoBarra" class="form-control" />
                    <span asp-validation-for="CodigoBarra" class="text-danger"></span>

                </div>
                <div class="col-6">
                    <label asp-for="Codigo" class="control-label">Codigo Recurso:</label>
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Status" class="control-label">Estado:</label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>

                </div>

                @*<div class="col-6">
            <label asp-for="IdActividad" class="control-label">Actividad:</label>
            <select asp-for="IdActividad" class="form-control" asp-items="ViewBag.IdActividad"></select>

        </div>*@
                <div class="col-md-2">
                    @Html.LabelFor(m => m.IdActividad)

                    @Html.DropDownListFor(m => m.IdActividad,
                                                           new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Actividad1"),
                                                                  "Seleccione Actividad",
                                                                  new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.IdActividad, "", new { @class = "text-danger" })

                </div>
                <div class="col-6">
                    <label asp-for="rutaFoto" class="control-label">Foto:</label>
                    <div class="col-6">
                        <div class="custom-file">

                            <input asp-for="rutaFoto" class="form-control custom-file-input" />
                            <label class="custom-file-label">Seleccione un fichero</label>
                        </div>
                    </div>

                </div>
                <div>
                    <button asp-action="Index" id="btnRegresar" class=" btn btn-success m-1" style="width:120px;height:35px;font-size:medium;">
                        <i class="fas fa-backward"></i>
                        Regresar

                    </button>
                    <button type="submit" id="btnGuardar" class=" btn btn-primary m-1" style="width:120px;height:35px; font-size:medium;">
                        <i class="fas fa-save"></i>
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var filename = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(filename);
                    });
                });

        function FillGrupoRecursos() {
            var SectorId = $('#IdSector').val();
            $.ajax({
                url: '/Recursoes/FillGrupoRecurso',
                type: "GET",
                dataType: "JSON",
                data: { IdSector: SectorId },
                success: function (Grupos) {
                    $("#IdGrupoRecursoPrincipal").html(""); // clear before appending new list 
                    $.each(Grupos, function (i, Grupo) {
                        $("#IdGrupoRecursoPrincipal").append(
                            $('<option></option>').val(Grupo.Id).html(Grupo.Grupo));
                    });
                }
            });
        }

        function FillArea() {
            var SucursalId = $('#IdSucursal').val();
            $.ajax({
                url: '/Recursoes/FillArea',
                type: "GET",
                dataType: "JSON",
                data: { IdSucursal: SucursalId },
                success: function (Areas) {
                    $("#IdArea").html(""); // clear before appending new list
                    $.each(Areas, function (i, Area) {
                        $("#IdArea").append(
                            $('<option></option>').val(Area.Id).html(Area.Area1));
                    });
                }
            });
        }

        function FillSector() {
            var AreaId = $('#IdArea').val();
            $.ajax({
                url: '/Recursoes/FillSector',
                type: "GET",
                dataType: "JSON",
                data: { IdArea: AreaId },
                success: function (Sectores) {
                    $("#IdSector").html(""); // clear before appending new list
                    $.each(Sectores, function (i, Sector) {
                        $("#IdSector").append(
                            $('<option></option>').val(Sector.Id).html(Sector.Sector1));
                    });
                }
            });
        }
        //
        function FillActividad() {
            var GrupoId = $('#IdGrupoRecursoPrincipal').val();
            $.ajax({
                url: '/Recursoes/FillActividad',
                type: "GET",
                dataType: "JSON",
                data: { IdGrupoDeRecurso: GrupoId },
                success: function (Actividades) {
                    $("#IdActividad").html(""); // clear before appending new list
                    $.each(Actividades, function (i, Actividad) {
                        $("#IdActividad").append(
                            $('<option></option>').val(Actividad.Id).html(Actividad.Actividad1));
                    });
                }
            });
        }
    </script>
}