@model SIT.Models.TrMovimiento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/SidebarMenu.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrMovimiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Productividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Productividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producido)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Disponible)*@
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Disponible)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Delete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoMovimientoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoMovimientoNavigation.TipoMovimiento1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.EstadoMovimiento1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecursoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRecursoNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoRecursoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoRecursoNavigation.Grupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSectorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSectorNavigation.Sector1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdActividadNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdActividadNavigation.Actividad1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
